<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qty.dao.ProductInfoMapper">
	<resultMap type="ProductInfo" id="productmap">
		<id column="pro_id" property="productId"></id>
		<result column="pro_size" property="productSize"></result>
		<result column="pro_status" property="productStatus"></result>
		<result column="pro_qust_result" property="productQustResult"></result>
		<result column="pro_ndvi_result" property="productNDVIResult"></result>
		<result column="pro_strerch_result" property="productStrerchResult"></result>
		<result column="pro_imhist_result" property="productImHistResult"></result>
		<result column="pro_histequl_result" property="productHistEqulResult"></result>
		<result column="pro_result" property="productResult"></result>
		<result column="pro_time" property="productTime"></result>
		<result column="pro_NirImage" property="productNirImage"></result>
		<result column="pro_RedImage" property="productRedImage"></result>
		<result column="pro_NDVIImage" property="productNDVIImage"></result>
		<result column="pro_QUSTImage" property="productQUSTImage"></result>
	</resultMap>
	

	
	<!-- 查询记录的列表 -->
    <select id="getProductInfoList" parameterType="ProductInfo" resultMap="productmap">
      select * from  productInfo
      <where>
        user_id=#{userId}
      </where> 
      <if test="start!=-1 and length!=-1">
      limit #{start},#{length}
      </if> 
    </select>
    
    <!-- 查询记录的个数 -->
    <select id="getProductInfoCount" parameterType="ProductInfo"  resultType="long">
       select count(*) from productInfo
      <where>
        user_id=#{userId}
      </where> 
    </select>
    
    <!-- 查询单个记录 -->
    <select id="getProductInfo"  parameterType="ProductInfo" resultMap="productmap">
       select * from  productInfo
       <where>
         <if test="productId!=null and productId!=''">
         and pro_id=#{productId}
         </if>
       </where>
    </select>
    

</mapper>